.cell-container-0 {
   display: flex;
  flex-direction: column;
  flex: 1;
}

.cell-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  padding: 2rem;
  border: 1px solid white;
}

.cell-container-2 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
