.row-expander {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2.5rem;
}

.enabled.row-expander {
    cursor: pointer;
}

.row-expander > * {
    display: none;
}

.enabled.row-expander:hover > * {
    display: block;
}

